:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --blog-a-color: #646cff;
  --blog-a-color-hover: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1a202c;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
  